@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Jangan override font-family secara manual */
body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans antialiased;
}
